.designpage {
  margin-top: 8rem;
  position: relative;
  padding: 0.5rem 0;
  overflow: hidden;
  min-height: 120vh;
}

.designpage .container {
  position: relative;
  z-index: 10;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.designpage-grid {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  grid-template-rows: 1fr;
  gap: 4rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-items: center;
}

.designpage-label {
  grid-column: 1;
  grid-row: 1;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-charcoal);
  flex-direction: column;
}

.designpage-label p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
}

.designpage-label h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5rem;
  line-height: 1.3;
}

.designpage-right-grid {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1.5rem;
}

.designpage-item {
  border-radius: 12px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.designpage-item p {
  font-size: 1rem;
  line-height: 1.8;
  color: var(--color-charcoal);
  margin-bottom: 1.2rem;
}

.designpage-item h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  line-height: 1.3;
  color: var(--color-charcoal);
}

.designpage-dot {
  font-weight: 400;
  color: var(--color-charcoal);
  font-size: 16px;
  line-height: 30px;
  margin-left: 1rem;
  list-style-type: disc;

  ul {
    margin-left: 1rem;
    list-style-type: circle;
  }
}

.service-number {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-sage);
  margin-right: 0.5rem;
}