.testimonials {
  padding: 0.5rem 0;
  background: var(--color-cream);
  position: relative;
  height:auto;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/background.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; 
  z-index: 1; 
}


.testimonials .section-header,
.testimonials .section-title,
.testimonials-grid,
.testimonial-card,
.testimonial-author,
.testimonial-text,
.testimonial-quote {
  position: relative;
  z-index: 3; 
}


.testimonials .section-header {
  text-align: center;
  margin-bottom: 1rem;
}

.testimonials .section-title {
  font-size: clamp(1.75rem, 3.5vw, 2.5rem);
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 365px);
  justify-content: center; 
  gap: 8rem;
  margin-bottom: 1rem;
}

.testimonial-card {
  background: transparent;
  padding: 2.5rem;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  transition: var(--transition);
  animation: fadeInUp 0.6s ease forwards;
  opacity: 0;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding-bottom: 4rem;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.testimonial-quote {
  position: absolute;
  bottom: 1.5rem; 
  left: 50%; 
  transform: translateX(-50%) rotate(180deg); 
  color: var(--color-red);
}

.testimonial-author {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-red);
  margin-bottom: 1rem;
  font-family: var(--font-body);
  opacity: 0.8;
}

.testimonial-text {
  font-size: 0.8rem;
  color: var(--color-charcoal);
  line-height: 1.8;
  font-weight: 800;
  text-align: center;
}

@media (max-width: 1024px) {
  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial-card:last-child {
    grid-column: 1 / -1;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .testimonials {
    padding: 4rem 0;
  }

  .testimonials-grid {
    grid-template-columns: 1fr;
  }

  .testimonial-card:last-child {
    max-width: 100%;
  }

  .testimonial-card {
    padding: 2rem;
  }
}

